<p *ngIf="fetchingQuote"><em>Retrieving quote...</em></p>
<blockquote class="blockquote">
    <div *ngIf="message">
        <p class="text-danger">{{message}}</p>
    </div>
    <div *ngIf="quote && !fetchingQuote">
        <p>{{quote.quote}}</p>
        <footer class="blockquote-footer">{{quote.author}} <cite title="Source Title"><a href={{quote.link}} target="_blank">Source</a></cite></footer>
    </div>
    <a class="clickme" (click)="getQuote()">
        <span class='glyphicon glyphicon-refresh'></span>
    </a>
</blockquote>

